:root {
  --first-color-text: #000;
  --second-color-text: #4285f4;
  --color-white: #ffff;
  --iris: #4d5ae5;
  --blue-color: #404bbf;
  --studio-class: #f4f4fd;
  --color-body: #434455;
  --font-color: #2e2f42;
  --border-style: #e7e9fc;
  --dark-style: #8e8f99;
  --green-style: #31d0aa;
  --style-modal: #fcfcfc;
}

.logo-class:hover,
.logo-class:focus {
  color: var(--blue-color);
}

.li-links:hover,
.li-links:focus {
  color: var(--blue-color);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-body);
  line-height: 1.6;
  background-color: var(--color-white);
}
.ig-logo {
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ig-logo:hover,
.ig-logo:focus {
  background-color: var(--blue-color);
}
header {
  background-color: var(--color-white);
}

button {
  background-color: var(--iris);
  color: var(--color-white);
}
.link {
  text-decoration: none;
}
.style-button:hover,
.style-button:focus {
  border: 1px solid transparent;
}
button:hover,
button:focus {
  background-color: var(--blue-color);
}

.studio-class {
  color: var(--studio-class);
}

.ourteam-section {
  background-color: var(--color-white);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.logo {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  font-weight: 800;
}
.font {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  color: var(--font-color);
}

.studio-color {
  color: var(--font-color);
}
.list {
  list-style: none;
  font-size: 16;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: var(--color-body);
  display: flex;
  justify-content: center;
  gap: 24px;
}

.link-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--font-color);
  text-decoration: none;
}

.adress-style {
  font-style: normal;
}

.section-details {
  background-color: var(--font-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.vector-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--studio-class);
  border-radius: 4px;
  margin-bottom: 8px;
}

.top-class {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button-class {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--font-color);
}
.sol-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--font-color);
  text-align: center;
}

.card-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.point-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.footer-acapit {
  line-height: 1.5;
  color: var(--studio-class);
  letter-spacing: 0.02em;
  max-width: 264px;
}
.p-class {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
}
.sec-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--font-color);
}

.last-section {
  background-color: var(--studio-class);
  padding: 120px 0 120px;
}

.last-class {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--font-color);
}

.p-describes {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
  text-align: center;
}
.page-footer {
  color: var(--font-color);
}
.footer-studio {
  color: var(--studio-class);
}

.page-footer {
  line-height: 1.5;
  color: var(--studio-class);
  letter-spacing: 0.02em;
}

.studio-head {
  color: var(--font-color);
}

.address-details {
  font-style: normal;
  padding: 24px 0;
}

.logo-class {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.li-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-details {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
}
.portfolio-footer {
  background-color: var(--font-color);
  padding: 100px 0 100px;
}

.logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-color {
  color: var(--studio-class);
}

.style-button:focus,
.style-button:hover {
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.style-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--studio-class);
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-style);
  border-radius: 4px;
}

.a-link:hover,
.a-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.a-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-link:hover .p-app,
.a-link:focus .p-app {
  transform: translateY(0%);
}

.class-port {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
}
.card-shadow {
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.div-bank {
  position: relative;
  overflow: hidden;
}
.p-app {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--studio-class);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-position {
  position: relative;
  color: var(--blue-color);
}
.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--font-color);
  margin-bottom: 16px;
}
.modal-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--style-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
  background-color: var(--blue-color);
  border: none;
}
.button-modal:hover .svg-modal,
.button-modal:focus .svg-modal {
  fill: #ffffff;
}
.backdrop {
  height: 100%;
}

.svg-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-div {
  margin-bottom: 8px;
}
.form-second {
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:hover,
.textarea:focus {
  border-color: var(--iris);
}

.form-modal-div {
  margin-bottom: 24px;
}
.label-form-modal {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--dark-style);
}
.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--dark-style);
  display: block;
  margin-bottom: 4px;
}
.modal-icons {
  position: relative;
}
.span-label {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-policy {
  color: var(--iris);
}
.modal-hidden:checked + .label-form-modal .span-label {
  background-color: var(--blue-color);
  border: none;
  fill: var(--studio-class);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.highlight {
  color: var(--second-color-text);
}

.highlight-web {
  color: var(--studio-class);
}

.header-style {
  border-bottom: 1px solid var(--border-style);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
}

.container-img {
  display: flex;
  gap: 332px;
}

.ul-style {
  gap: 40px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.navigation-header {
  display: flex;
  align-items: center;
}
.logo-details {
  margin-right: 76px;
}
.menu-style {
  display: flex;
  gap: 40px;
}
.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
  width: 100%;
}
.header-link {
  position: relative;
  color: var(--blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-transition:hover .button-transition:focus {
  transform: translateY(0%);
}
.button-transition {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last-li {
  margin-right: 0;
}

.menu-top {
  padding: 24px 0 24px;
  display: inline-block;
}
.contacts-details {
  display: flex;
}

.second-section {
  padding: 120px 0 120px;
}

.list-class {
  display: flex;
  gap: 24px;
}
.list-strategy {
  width: calc((100% - 72px) / 4);
}
.class-strategy {
  margin-bottom: 8px;
}
.third-section {
  padding-bottom: 120px;
}
.sec-div {
  margin-bottom: 72px;
}
.third-ul {
  display: flex;
  gap: 24px;
}
.first-point {
  width: calc((100% - 48px) / 3);
}

.main-last {
  margin-bottom: 72px;
}

.employee {
  padding: 32px 0;
}
.social-link {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.insta-logo:hover,
.insta-logo:focus {
  background-color: var(--blue-color);
}

.insta-lg {
  fill: var(--studio-class);
}
.insta-logo {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.more-logo:hover,
.more-logo:focus {
  background-color: var(--blue-color);
}

.more-logo {
  width: 40px;
  height: 40%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extra-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers {
  font-size: 36px;
  line-height: 1.11;
  color: var(--font-color);
  margin-bottom: 72px;
  text-align: center;
}
.customers-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.first-customer {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customer-link:hover,
.customer-link:focus {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-style);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-style);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-customer-class {
  fill: currentColor;
}
.last-div {
  display: flex;
  align-items: baseline;
}
.logo-p {
  margin-right: 120px;
}
.sm-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.logo-div {
  display: flex;
  gap: 16px;
  list-style: none;
}
.social-li {
  height: 40px;
  width: 40px;
}
.social-class:hover,
.social-class:focus {
  background-color: var(--green-style);
}

.social-class {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-social {
  fill: var(--studio-class);
}
.header-class {
  border-bottom: 1px solid var(--border-style);
  display: flex;
}
.div-container {
  display: flex;
}
.nav-style {
  display: flex;
  align-items: center;
}
.logo-style {
  margin-right: 76px;
}

.li-class {
  padding: 24px 0 24px;
}
.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.li-styles {
  width: calc((100% - 48px) / 3);
}
.address-style {
  gap: 40px;
}

.ul-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.app-info {
  padding: 32px 16px;
  border: 1px solid var(--border-style);
  border-top: none;
}

.top-concept {
  margin-bottom: 8px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.p-form-footer {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.footer-form {
  display: flex;
}
.footer-form {
  gap: 24px;
}
.footer-input {
  gap: 24px;
  width: 264px;
  height: 40px;
  border: 1px solid var(--color-white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
}
.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}
.button-sub-svg {
  margin-left: 16px;
}
